South==0.7.6
boto==2.5.2
dj-database-url==0.2.1
django-cache-machine==0.6
django-email-as-username==1.5.1
-e git://github.com/wellnesstelecom/django-livejs.git@43752cbc518cd8081a5803720ec4cf104a973b72#egg=django_livejs-dev
django-moderation==0.3.2
django-pylibmc-sasl==0.2.4
django-registration==0.8
django-storages==1.1.5
geopy==0.94.2
gunicorn==0.14.6
psycopg2==2.4.5
requests==0.13.8
unicodecsv==0.9.0
wsgiref==0.1.2
