/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; padding: 0; font-size: 13px; line-height: 1.231; }

html, body{
	height: 100%;
}

body, button, input, select, textarea, a, p { font-family: "Helvetica Neue","Helvetica",Arial,sans-serif; color: whiteSmoke; }
h1,h2,h3,h4,h5,h6 {
	font-family:"Maven Pro",sans-serif;
}

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #2a2947; color: #fff; text-shadow: none; }
::selection { background: #2a2947; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */




html.ie7 h3.hover-title,
html.ie8 h3.hover-title,
html.ie9 h3.hover-title {
    background-color: white;
    filter: progid:DXImageTransform.Microsoft.Chroma(color='white') progid:DXImageTransform.Microsoft.Alpha(opacity=100) progid:DXImageTransform.Microsoft.dropshadow(color=#ffffff,offX=1,offY=1) progid:DXImageTransform.Microsoft.dropshadow(color=#ffffff,offX=-1,offY=1) progid:DXImageTransform.Microsoft.dropshadow(color=#ffffff,offX=1,offY=-1) progid:DXImageTransform.Microsoft.dropshadow(color=#ffffff,offX=-1,offY=-1);
    zoom: 1;
}


/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


/* styles */

/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */
.container {
  padding-left: 20px;
  padding-right: 20px;
}
.row {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
}
.onecol,
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}
.onecol {
  width: 4.85%;
}
.onepush {
  margin-left: 8.65%;
}
.twocol {
  width: 13.45%;
}
.twopush {
  margin-left: 17.25%;
}
.threecol {
  width: 22.05%;
}
.threepush {
  margin-left: 25.85%;
}
.fourcol {
  width: 30.75%;
}
.fivecol {
  width: 39.45%;
}
.sixcol {
  width: 48%;
}
.sevencol {
  width: 56.75%;
}
.eightcol {
  width: 65.4%;
}
.ninecol {
  width: 74.05%;
}
.tencol {
  width: 82.7%;
}
.elevencol {
  width: 91.35%;
}
.twelvecol {
  width: 100%;
  float: left;
}
.last {
  margin-right: 0px;
}
img, object, embed {
  max-width: 100%;
}
img {
  height: auto;
}
/* Smaller screens */
a, a:visited {
  color: #5296b2;
  text-decoration: none;
}
a:hover, a:visited:hover {
  color: #75abc2;
}
.marker-cluster-small {
  background-color: rgba(42, 41, 71, 0.4);
}
.marker-cluster-small div {
  background-color: rgba(42, 41, 71, 0.4);
}
.marker-cluster-medium {
  background-color: rgba(42, 41, 71, 0.65);
}
.marker-cluster-medium div {
  background-color: rgba(42, 41, 71, 0.65);
}
.marker-cluster-large {
  background-color: rgba(42, 41, 71, 0.9);
}
.marker-cluster-large div {
  background-color: rgba(42, 41, 71, 0.9);
}
.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}
.marker-cluster:hover {
  background-color: rgba(31, 30, 82, 0.8);
  -moz-box-shadow: 0px 0px 10px #2a2947;
  -webkit-box-shadow: 0px 0px 10px #2a2947;
  -ms-box-shadow: 0px 0px 10px #2a2947;
  -o-box-shadow: 0px 0px 10px #2a2947;
  box-shadow: 0px 0px 10px #2a2947;
}
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  color: #c8cac8;
  font: 12px "Maven Pro", sans-serif;
  font-weight: bold;
  font-size: 1.1em;
}
.marker-cluster span {
  line-height: 30px;
}
#container {
  height: 100%;
}
#map {
  top: 0;
  bottom: 60px;
  height: 100%;
}
header {
  position: absolute;
  background-color: rgba(20, 19, 32, 0.8);
  box-shadow: 0px 0px 5px #333;
  -webkit-box-shadow: 0px 0px 5px #333;
  -moz-box-shadow: 0px 0px 5px #333;
  -ms-box-shadow: 0px 0px 5px #333;
  display: block;
  overflow: hidden;
  padding: 20px;
}
header #branding {
  position: absolute;
  top: 0;
  bottom: 300px;
}
header #branding h1 {
  height: 80px;
  width: auto;
  position: relative;
  background-size: contain;
  background-image: url("../img/logo.png");
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -100%;
  margin: 0;
  padding: 0;
}
header #branding p {
  color: whiteSmoke;
  font-size: .85em;
}
header #branding #buttons {
  text-align: center;
}
header #main-menu #search_form {
  width: 100%;
}
header #main-menu #search_form #search_field {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-size: 1.2em;
  width: 100%;
  height: 40px;
  margin-bottom: 0!important;
}
header #main-menu #search_form #search_field:focus {
  outline: none!important;
}
header #main-menu li {
  list-style-type: none;
  font-family: "Maven Pro", sans-serif;
  text-transform: uppercase;
  font-size: 1.0rem;
  margin: 0 0 0 0;
  border-bottom: 1px #484948 solid;
  float: left;
  width: 100%;
}
header #main-menu li div.menu-label {
  background: #242424;
  padding: 10px 0px;
  float: left;
  width: 100%;
  color: whiteSmoke;
  vertical-align: middle;
}
header #main-menu li div.menu-label:hover {
  background: #3d3c67;
  cursor: pointer;
}
header #main-menu li div.menu-label .icon {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
  width: 13.45%;
  height: 100%;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  text-align: right;
}
header #main-menu li div.menu-label .icon span {
  display: block;
  position: relative;
  padding-top: 10px;
  right: -5px;
}
header #main-menu li div.menu-label #company-icon {
  background-image: url(../img/startup-legend.png);
}
header #main-menu li div.menu-label #service-provider-icon {
  background-image: url(../img/service-legend.png);
}
header #main-menu li div.menu-label #financial-organization-icon {
  background-image: url(../img/finance-legend.png);
}
header #main-menu li div.menu-label label {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
  width: 65.4%;
  float: left;
  font-weight: bold;
}
header #main-menu li div.menu-label label span {
  color: #c8cac8;
  font-weight: normal;
}
header #main-menu li div.menu-label .toggle {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
  width: 13.45%;
  margin-right: 0px;
  float: right;
  height: 100%;
  text-align: center;
  background: transparent;
}
header #main-menu li div.menu-label .toggle input {
  width: auto;
  height: auto;
  padding: 0px;
  margin: 0px -50%;
  line-height: normal;
  cursor: pointer;
  background-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
header #main-menu li.inactive {
  color: #999;
}
header #main-menu li ul {
  display: none;
}
header #main-menu li ul.sub > li div.menu-label {
  background: #484948;
  border-bottom: 1px solid #c8cac8;
}
header #main-menu li ul.sub > li div.menu-label:hover {
  background: #5296b2;
}
header #main-menu li ul.locations > li {
  background: whiteSmoke;
  border-bottom: 1px solid #c8cac8;
}
header #main-menu li ul.locations > li a {
  color: #333;
  text-decoration: none;
}
header #main-menu li ul.locations > li a:hover {
  color: #5296b2;
}
header #menu_close {
  position: absolute;
  bottom: 0;
  left: 0;
  text-decoration: none;
  padding: 2px 5px 2px 0px;
}
header #menu_close:after {
  content: "\002191";
  padding-left: 2px;
}
header #menu_close:hover {
  color: #242424;
}
.messages {
  padding: 0;
  margin: 0;
}
.messages li {
  margin: 0;
  padding: 5px;
  font-weight: bold;
  list-style-type: none;
  width: 100;
  margin-bottom: 10px;
}
.messages li.success {
  background: #53b357;
  border: 1px solid #419244;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.messages li.error {
  background: #f26868;
  border: 1px solid #ee3939;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
form {
  position: relative;
}
form li {
  float: left;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  list-style-type: none;
}
form label {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
  width: 30.75%;
  text-align: right;
  font-weight: bold;
}
form input, form textarea, form select {
  color: #222;
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
  width: 65.4%;
  margin-right: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #c8cac8;
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
}
form input:focus, form textarea:focus, form select:focus {
  box-shadow: 0px 0px 4px #f7f312;
}
form textarea {
  height: 100px;
}
form .helptext {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
  width: 82.7%;
  float: right;
  display: block;
  text-align: right;
  color: whiteSmoke;
  font-size: .9em;
}
form input[type=submit] {
  display: block;
  clear: both;
  width: 100px;
  background-color: #f7f312;
  color: #242424 !important;
  height: 15px;
  display: inline-block;
  padding: 5px 10px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cusrsor: pointer;
  text-decoration: none;
  position: relative;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, 0.2) 100%);
  /* FF3.6+ */

  background-image: -webkit-gradient(linear, left 20%, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  /* Chrome,Safari4+ */

  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */

  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, 0.2) 100%);
  /* Opera 11.10+ */

  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #606060 100%);
  /* IE10+ */

  background-image: linear-gradient(top, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, 0.2) 100%);
  /* W3C */

  height: 25px;
  margin: 0 auto;
}
#map h3.hover-title {
  color: whiteSmoke;
  padding: 2px;
  background-color: rgba(20, 19, 32, 0.95);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#map .leaflet-popup {
  min-width: 350px;
}
#map .leaflet-popup-content-wrapper, #map .leaflet-popup-tip {
  background-color: rgba(20, 19, 32, 0.9);
  color: whiteSmoke !important;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 60px;
  padding-top: 5px;
  padding-left: 5px;
  background: #242424;
}
footer .leaflet-control-attribution a {
  color: #5296b2;
}
footer .cityseal,
footer .gaffta-small,
footer .golightly,
footer .sfciti {
  background: url(../img/sprites.png) no-repeat;
  display: inline-block;
  float: left;
  text-indent: -100%;
  margin-right: 10px;
  vertical-align: middle;
}
footer .gaffta-small {
  background-position: 0 0;
  width: 128px;
  margin-top: 10px;
  height: 41px;
}
footer .golightly {
  background-position: -421px 0;
  width: 114px;
  height: 51px;
}
footer .sfciti {
  background-position: -133px 0;
  width: 136px;
  margin-top: 15px;
  height: 31px;
}
footer .cityseal {
  background-position: -274px 0;
  width: 147px;
  height: 55px;
}
footer iframe, footer #tweet_button, footer #mailchimp_link {
  float: right;
}
footer iframe {
  margin-top: 17px;
}
footer #mailchimp_link {
  display: inline-block;
  margin-top: 15px;
  vertical-align: top;
  margin-right: 10px;
}
.modal {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -75px;
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
  width: 48%;
  margin-left: 25.85%;
  height: 150px;
  box-shadow: 0px 0px 5px #242424;
  color: whiteSmoke;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(20, 19, 32, 0.9);
  z-index: 999;
  height: auto;
  padding: 20px;
}
.modal h1 {
  margin-bottom: 0.5em;
}
.modal #register_link {
  margin-bottom: 0.7em;
  font-weight: bold;
  display: block;
}
.modal #modal_close, .modal #mailchimp_close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 5px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #C3C3C3;
  text-decoration: none;
  font-weight: bold;
}
#mailchimp, #about {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -75px;
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
  width: 48%;
  margin-left: 25.85%;
  height: 150px;
  box-shadow: 0px 0px 5px #242424;
  color: whiteSmoke;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(20, 19, 32, 0.9);
  z-index: 999;
  height: auto;
  padding: 20px;
}
#mailchimp h1, #about h1 {
  margin-bottom: 0.5em;
}
#mailchimp #register_link, #about #register_link {
  margin-bottom: 0.7em;
  font-weight: bold;
  display: block;
}
#mailchimp #modal_close,
#about #modal_close,
#mailchimp #mailchimp_close,
#about #mailchimp_close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 5px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #C3C3C3;
  text-decoration: none;
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  header {
    width: 25%;
    right: 5%;
    top: 0;
    bottom: 105px;
    z-index: 2;
    overflow: visible;
  }
  header.hidemenu {
    top: 0;
    bottom: auto;
    height: 0px;
    padding-bottom: 0px;
  }
  header.hidemenu #branding {
    display: none;
  }
  header.hidemenu #main-menu {
    display: none;
  }
  header.hidemenu #menu_close:after {
    content: "\002193";
  }
  header #main-menu {
    position: absolute;
    top: 200px;
    bottom: 20px;
    height: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0;
  }
  header #menu_close {
    top: auto;
    bottom: -20px;
  }
  header #menu_close:hover {
    top: auto;
  }
  #map .leaflet-bottom {
    bottom: 67px;
  }
}
@media only screen and (max-width: 767px) and (orientation: landscape) {
  header {
    width: 40%;
    right: 0;
    top: 0;
    bottom: 20px;
    z-index: 2;
    overflow: visible;
  }
  header #branding {
    height: 100px;
  }
  header #branding h1 {
    position: relative;
    height: 80px;
    margin-right: 3.8%;
    float: left;
    min-height: 1px;
    width: 48%;
  }
  header #branding #buttons {
    margin-right: 3.8%;
    float: left;
    min-height: 1px;
    width: 48%;
    margin-right: 0px;
  }
  header #branding #buttons a {
    margin-top: 10px;
    width: 80%;
  }
  header #branding p {
    display: none;
  }
  header.hidemenu {
    top: 0;
    bottom: auto;
    height: 0px;
  }
  header.hidemenu #branding {
    display: none;
  }
  header.hidemenu #main-menu {
    display: none;
  }
  header.hidemenu #menu_close:after {
    content: "\002191";
  }
  header #main-menu {
    position: absolute;
    top: 100px;
    bottom: 20px;
    height: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0;
  }
  header #main-menu ul {
    float: left;
    width: 100%;
    padding-bottom: 50px;
  }
  header #menu_close:hover {
    top: auto;
  }
  footer {
    display: none;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  header {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0px;
    top: 66%;
    z-index: 2;
    margin: 0;
    padding: 0;
    overflow: visible;
  }
  header #branding {
    margin-right: 3.8%;
    float: left;
    min-height: 1px;
    width: 48%;
    text-align: center;
  }
  header #branding h1 {
    position: relative;
    height: 100px;
    width: 100%;
    text-indent: -100%;
    display: block;
    margin: 0;
    vertical-align: top;
    margin: 0 auto;
  }
  header #branding p {
    display: none;
  }
  header #branding #buttons a {
    width: 80%;
    margin-top: 10px;
  }
  header #main-menu {
    margin-right: 3.8%;
    float: left;
    min-height: 1px;
    width: 48%;
    margin-right: 0px;
    position: absolute;
    right: 0;
    left: auto;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
  }
  header #main-menu ul {
    float: left;
    width: 100%;
    padding-bottom: 50px;
  }
  header #menu_close {
    top: -20px;
  }
  header #menu_close:after {
    content: "\002193";
  }
  header #menu_close:hover {
    top: -20px;
    bottom: auto!important;
  }
  header.hidemenu {
    height: 0px;
    top: auto;
    bottom: 0;
  }
  header.hidemenu #branding {
    display: none;
  }
  header.hidemenu #main-menu {
    display: none;
  }
  header.hidemenu #menu_close:after {
    content: "\002191";
  }
  #map .leaflet-bottom {
    top: 0px!important;
    width: 50%!important;
    bottom: auto;
  }
  footer {
    display: none;
  }
}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
.big {
  font-size: 1.2em;
  font-weight: bold;
}
/* Contain floats: h5bp.com/q */.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
/* stolen from Zurb */
.awesome, .awesome:visited {
  background-color: #f7f312;
  color: #242424 !important;
  height: 15px;
  display: inline-block;
  padding: 5px 10px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cusrsor: pointer;
  text-decoration: none;
  position: relative;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, 0.2) 100%);
  /* FF3.6+ */

  background-image: -webkit-gradient(linear, left 20%, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  /* Chrome,Safari4+ */

  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */

  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, 0.2) 100%);
  /* Opera 11.10+ */

  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #606060 100%);
  /* IE10+ */

  background-image: linear-gradient(top, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, 0.2) 100%);
  /* W3C */

}
.awesome:hover {
  background-color: #5296b2;
  color: whiteSmoke !important;
}
.awesome:active {
  top: 1px;
}
.small.awesome, .small.awesome:visited {
  font-size: 11px;
  padding: ;
}
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.25s ease-out, opacity 0.25s ease-in;
	-moz-transition: -moz-transform 0.25s ease-out, opacity 0.25s ease-in;
	-o-transition: -o-transform 0.25s ease-out, opacity 0.25s ease-in;
	transition: transform 0.25s ease-out, opacity 0.25s ease-in;
}
/* marker clustering */
.marker-cluster-small {
  background-color: rgba(42, 41, 71, 0.4);
}
.marker-cluster-small div {
  background-color: rgba(42, 41, 71, 0.4);
}
.marker-cluster-medium {
  background-color: rgba(42, 41, 71, 0.65);
}
.marker-cluster-medium div {
  background-color: rgba(42, 41, 71, 0.65);
}
.marker-cluster-large {
  background-color: rgba(42, 41, 71, 0.9);
}
.marker-cluster-large div {
  background-color: rgba(42, 41, 71, 0.9);
}
.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}
.marker-cluster:hover {
  background-color: rgba(31, 30, 82, 0.8);
  -moz-box-shadow: 0px 0px 10px #2a2947;
  -webkit-box-shadow: 0px 0px 10px #2a2947;
  -ms-box-shadow: 0px 0px 10px #2a2947;
  -o-box-shadow: 0px 0px 10px #2a2947;
  box-shadow: 0px 0px 10px #2a2947;
}
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  color: #c8cac8;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.1em;
}
.marker-cluster span {
  line-height: 30px;
}

.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}

