<form id="search_form" method="GET" action="">
  <input id="search_field" name="q" type="search" autocomplete="off" placeholder="Search on the map..." />
</form>
<ul class="top">
  {% for type in types %}
  <li class="{{type.name}}">
    <div class="menu-label">
      <div id="{{type.name}}-icon" class="icon">&nbsp;</div>
      <label for="{{type.name}}">
      {% if type.label  %}
        {{type.label}}
      {% else %}
        {{type.name|replace:"-, "|title}} 
      {% endif %}  
        <span>({{type.location_set.count}})</span>
      </label>
      <div class="toggle">
        <input name="{{type.name}}" type="checkbox" checked />
      </div>
    </div>
    {% if type.type_set.all %}
    <ul class="sub">
      {% for subtype in type.type_set.all %}
      <li class="{{subtype.name}}">
        <div class="menu-label">
          <div id="{{subtype.name}}-icon" class="icon">&nbsp;</div>
          <label for="{{subtype.name}}">
          {% if subtype.label  %}
            {{subtype.label}}
          {% else %}
            {{subtype.name|replace:"-, "|title}} 
          {% endif %}
            <span>({{subtype.location_set.count}})</span>
          </label>
          <div class="toggle">
            <input name="{{subtype.name}}" data-parent="{{type.name}}" type="checkbox" checked />
          </div>
        </div>
        {% if subtype.location_set.count %}
        <ul class="locations">
          {% for location in subtype.location_set.all %}
          <li class="location" data-name="{{location.name}}">
            <a class="tencol twopush" href="#{{location.name}}">{{location.name}}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if type.location_set.count %}
    <ul class="locations">
      {% for location in type.location_set.all %}
        {% if location.type.count == 1 %}
        <li class="location" data-name="{{location.name}}">
          <a class="tencol twopush" href="#{{location.name}}">{{location.name}}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  </li><br />
  {% endfor %}
  {% if hiring %}
  <li>Hiring
  {% for company in hiring %}
</ul>