<div id="create_form_container">
  <h2>Add your new... startup? Company? Gig? Empire?</h2>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  {{ form.non_field_errors }}
  {{ form.password.errors }}
  <form class="location_form clearfix" id="create_location_form" action="{% url repsf.map.views.create %}" method="POST">
  <ul>
  {% csrf_token %}
  {{ form.as_ul }}
  </ul>
  <input id="create" type="submit" value="Submit" />
  </form>
</div>
<script>
submit_form($("#create_location_form"),$("#create_location_form").parent());
p = $("#create_form_container").parent();
console.log(p);
p.css({marginTop:-(p.height()/2)});
</script>