{% extends 'base.html' %}
{% load static %}
{% load map_filters %}

{% block htmlhead %}
<link rel="stylesheet/less" href="{% get_static_prefix %}css/style.less">
<script src="{% get_static_prefix %}js/less-1.1.5.min.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.2/leaflet.css" />
<link rel="stylesheet" href="{% get_static_prefix %}css/jquery.autocomplete.css" />
<link rel="stylesheet" href="{% get_static_prefix %}css/MarkerCluster.css" />
<link rel="stylesheet" href="{% get_static_prefix %}css/MarkerCluster.Default.css" />
<link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
<h1>Represent SF</h1>
<nav id="main-menu">
  <form id="search_form" method="GET" action="">
    <input id="search_field" name="q" type="search" autocomplete="off" placeholder="Search on the map..." />
  </form>
  <ul class="top">
    {% for type in types %}
    <li class="{{type.name}}">
      <div class="menu-label">
        <div id="{{type.name}}-icon" class="icon">&nbsp;</div>
        <label for="{{type.name}}">
        {% if type.label  %}
          {{type.label}}
        {% else %}
          {{type.name|replace:"-, "|title}} 
        {% endif %}  
          <span>({{type.location_set.count}})</span>
        </label>
        <div class="toggle">
          <input name="{{type.name}}" type="checkbox" checked />
        </div>
      </div>
      {% if type.location_set.count %}
      <ul class="locations">
        {% for location in type.location_set.all %}
          {% if location.type.count == 1 %}
          <li class="location" data-name="{{location.name}}">
            <a class="tencol twopush" href="#{{location.name}}">{{location.name}}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
      {% if type.type_set.all %}
      <ul class="sub">
        {% for subtype in type.type_set.all %}
        <li class="{{subtype.name}}">
          <div class="menu-label">
            <div id="{{subtype.name}}-icon" class="icon">&nbsp;</div>
            <label for="{{subtype.name}}">
            {% if subtype.label  %}
              {{subtype.label}}
            {% else %}
              {{subtype.name|replace:"-, "|title}} 
            {% endif %}
              <span>({{subtype.location_set.count}})</span>
            </label>
            <div class="toggle">
              <input name="{{subtype.name}}" data-parent="{{type.name}}" type="checkbox" checked />
            </div>
          </div>
          {% if subtype.location_set.count %}
          <ul class="locations">
            {% for location in subtype.location_set.all %}
            <li class="location" data-name="{{location.name}}">
              <a class="tencol twopush" href="#{{location.name}}">{{location.name}}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li><br />
    {% endfor %}
  </ul>
</nav>
<a id="close" href="#">hide menu &uarr;</a>
{% endblock %}

{% block content %}
<div id="map" role="main">

</div>
{% endblock %}

{% block footer %}
<!-- Begin MailChimp Signup Form -->
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://golightlyhouse.us5.list-manage.com/subscribe/post?u=eab249b183a688f552dda13d6&amp;id=8ef51bae3b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL">Subscribe to our mailing list</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
{% endblock %}

{% block pre-plugins %}
<script src="http://cdn.leafletjs.com/leaflet-0.4.2/leaflet.js"></script>
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.1.2"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/libs/leaflet.markercluster.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/libs/underscore-min.js"></script>
<script src="{% get_static_prefix %}js/jquery.autocomplete.min.js"></script>
<script type="text/javascript">
var locations = {{ locs_json|safe }};
var types = {{ types_json|safe }};
var mapFocus = "{{ focus }}";
</script>
{% endblock %}