<div id="create_container">
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  {{ form.non_field_errors }}
  {{ form.password.errors }}
  <form id="create_form" action="{% url register %}" method="post">
  {% csrf_token %}
  {{ form.as_ul }}
  <input type="submit" value="Submit" />
  </form>
</div>
<script>
$("#create_form").bind('submit', function(event){
	event.preventDefault();
	$(this).find('input[type=submit]').insertAfter('<div>').addClass('loader');
	$.post($('#create_form').attr('action'),$('#create_form').serialize(),function(response){
	  $('.loader').remove();
		$("#create_container").parent().html(response).find('input[name=next]').val('/');
	});
});
</script>